/* General Styles
=================================== */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
}

/* Find Us Styles
=================================== */

#map {
	width: 50%;
	height: 50%;
}

.inline {
	display: inline-block;
}

/* Menu Styles
=================================== */

.menu-border {
	border-top: 1px solid;
}

.price {
	margin-top: 10px;
}