/* General Styles
=================================== */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6em;
}

hr {
	margin: 0;
}

.break {
	border: 3px solid #1b2227;
	margin-top: 2em;
	margin-bottom: 4em;
}

.container-fluid {
	max-width: 1000px;
}

.center-align {
	margin: 0 auto;
}

/* Navbar Styles
=================================== */

.navbar-inverse {
	background-color: rgba(37,48,55, .9);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
	color: #ed5031;
}

.navbar-inverse .navbar-brand {
	font-size: 22px;
}

.navbar-inverse .navbar-nav li a {
	font-size: 18px;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #ed5031;
	background-color: #1b2227;
}

#selected  {
	background-color: #1b2227;
}

.navbar-toggle:hover {
	background-color: #253037;
}

/* Button Styles
=================================== */

.feature-button {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
}

.button {
	padding: .5em;
	color: #fff;
	font-size: 1.5em;
	background-color: rgba(37,48,55, .8);
	border-radius: 5px;
	border-bottom: 5px solid #253037;
}

.button:hover {
	color: #ed5031;
	text-decoration: none;
	background-color: rgba(37,48,55,.9);
}

.button:active {
	border-bottom: 1px solid #253037;
}

/* Pics & Icon Styles
=================================== */

#cb-nav-logo {
	display: inline-block;
	width: 5%;
}

.cb-logo {
	width: 25%;
	border-radius: 50%;
	margin: 1em auto 0;
}

.social-icon {
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 0 3px;
}

.navigate-icon {
	width: 50px;
}

#menu-header {
	height: 500px;
	width: 100%;
	background: url('../img/menu-header.png') no-repeat center;
	background-size: cover;
}

/* Layout Styles
=================================== */

/*Home Page*/

.home-feature {
	background-color: rgba(68,88,101,.4);
}

.home-feature h2 {
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #1b2227;
	color: #ed5031;
}

/*Find Feature*/

.find-feature {
	/*background: url('../img/bg.png');*/
	background-color: rgba(68,88,101,.4);
	padding-top: 2em;
	padding-bottom: 3em;
	margin-bottom: 3em;
	margin-top: 3em;
}

.find-header {
	margin-bottom: 3em;
}

.board {
	margin: 1em 0;
}

/*Brew & Menu Pages*/

.page-header-img {
	width: 100%;
}

.page-welcome {
	margin-top: 2em;
	margin-bottom: 2em;
	background: transparent;
}

.page-welcome h1 {
	margin-bottom: .75em;
	font-size: 3em;
}

/*Brew Page*/

.brew-feature {
	margin-bottom: 4em;
}

.brew-subtitle {
	padding-bottom: .25em;
	color: #ed5031;
	border-bottom: 2px solid #1b2227;
}

.brew-desc {
	margin: 3em 1em;
}

.brew-desc p {
	margin-left: .5em;
}

.coming-soon .brew-name {
	margin-top: 1em;
	margin-left: .5em;
}

/*Menu Page*/

.nav-pills {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 4em;
}

.nav-pills li a {
	font-size: 1.25em;
	border: 1px solid #303e47;
	background-color: #1b2227;
	color: #fff;
}

.nav-pills li a:hover {
	background-color: #303e47;
}

.nav-pills li a:focus {
	background-color: #303e47;
}

.menu-items {
	margin-top: 2em;
	border-top: 1px solid;
	padding-top: 1em;
}

.price {
	margin-top: 10px;
}

#sand-toppings {
	padding: 1em 0;
}

.special-header {
	margin-bottom: 1em;
}

/* Map Styles
=================================== */

#map {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3em;
	width: 95%;
	height: 400px;
}

#directions-widget {
	width: 325px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	background-color: white;
	padding: 10px;
	font-family: Roboto, Arial;
	font-size: 13px;
	margin: 15px;
}

.navigate {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.navigate-text {
	color: #1b2227;
}

.navigate-text:hover {
	color: #1b2227;
}

/* Footer Styles
=================================== */

#main-footer {
	color: #fff;
	background-color: #253037;
	padding: 2em 0;
}

#main-footer .lead {
	margin-bottom: 10px;
}

#main-footer a {
	display: block;
	color: #fff;
	margin-top: 2em;
	margin-bottom: 2em;
}

#sub-footer {
	color: #fff;
	background-color: #1b2227;
	padding: 1.5em 0;
}

#sub-footer p {
	margin: 0;
}

/* Media Queries
=========================================================================================
========================================================================================= */

@media (min-width: 767px) {

	/* Menu Styles
	=================================== */

	.nav-pills li a {
		margin: 0 .5em; 
	}

	#map {
		width: 500px;
	}

	/* Footer Styles
	=================================== */

	.cb-logo {
		width: 65%;
	}
}

