/* ==============================================
		General Styles
============================================== */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
	font-size: 1.6em;
	position: relative;
}

h1,
h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

p,
a {
	font-family: 'Lora', serif;
}

hr {
	margin: 0;
}

.break {
	border: 3px solid #1b2227;
	margin-top: 2em;
	margin-bottom: 4em;
}

.container-fluid {
	max-width: 1000px;
}

.center-align {
	margin: 0 auto;
}




/* ==============================================
		Navbar Styles
============================================== */

.navbar-inverse {
	background-color: rgb(37,48,55);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
	color: #ed5031;
}

.navbar-inverse .navbar-brand {
	font-size: 24px;
}

.navbar-inverse .navbar-nav li a {
	font-size: 20px;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #ed5031;
	background-color: #1b2227;
}

#selected  {
	color: #fff;
	background-color: #1b2227;
}

.navbar-toggle:hover {
	background-color: #253037;
}




/* ==============================================
		Layout Styles
============================================== */


	/* Home Page
	=================================== */

#welcome-feature {
	background-color: transparent;
}

.home-feature {
	background-color: rgba(68,88,101,.4);
}

.home-feature h2 {
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #1b2227;
	color: #ed5031;
}



	/* Find Feature
	=================================== */

.find-feature {
	background-color: rgba(68,88,101,.4);
	padding-top: 2em;
	padding-bottom: 3em;
	margin-bottom: 3em;
	margin-top: 3em;
}

.find-feature h1 {
	margin-bottom: 1em;
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #1b2227;
	color: #ed5031;
}

.find-header {
	margin-bottom: 3em;
}

.fb-page {
	margin-bottom: 3em;
}

.board {
	margin: 1em 0;
}



/* Map Styles
	=================================== */

#map {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: .5em;
	width: 95%;
	height: 400px;
}

#directions-widget {
	background-color: #fff;
	margin: 15px;
	padding: 5px;
	box-shadow: 1px 1px 2px -2px,
							-1px 1px 2px -2px,
							-1px -1px 2px -2px,
							1px -1px 2px -2px;
}

.direct-input {
	display: block;
	font-size: 1.3em;
	margin: 2px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	box-shadow: 2px 2px 5px -2px;
}

.direct-input:focus {
	outline: none;
	border: 2px solid #fff;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}



	/* Brew & Menu Pages (Shared Styles)
	=================================== */

.page-header-img {
	width: 100%;
}

.page-welcome {
	background: transparent;
}

.page-welcome h1 {
	margin-bottom: .75em;
	font-size: 3em;
}



	/* Brew Page
	=================================== */

.page-feature {
	margin-bottom: 4em;
}

.brew-subtitle {
	margin-top: 1em;
	padding-bottom: .5em;
	color: #ed5031;
	border-bottom: 2px solid #1b2227;
}

.brew-desc {
	margin: 3em 1em;
}

.brew-name {
	margin-bottom: .75em;
}

.brew-desc p {
	font-size: 1.2em;
	margin-left: .5em;
}

.coming-soon .brew-name {
	margin-top: 1em;
	margin-left: .5em;
}



	/* Menu Page
	=================================== */

.nav-pills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 4em;
}

.nav-pills li {
	margin-top: .5em;
}

.nav-pills li a {
	font-size: 1.25em;
	border: 1px solid #303e47;
	background-color: #1b2227;
	color: #fff;
}

.nav-pills li a:hover {
	background-color: #303e47;
}

.nav-pills li a:focus {
	background-color: #303e47;
}

.menu h2 {
	font-size: 1.5em;
}

.menu p {
	font-size: 1.2em;
}

.menu-items {
	margin-top: 2em;
	border-top: 1px solid;
	padding-top: 1em;
}

.price {
	margin-top: 10px;
}

#sand-toppings {
	padding: 1em 0;
}

.special-header {
	margin-bottom: 1em;
}




/* ==============================================
		Footer Styles
============================================== */

#main-footer {
	color: #fff;
	background-color: #253037;
	padding: 2em 0;
}

#main-footer .lead {
	margin-bottom: 10px;
}

#main-footer a {
	display: block;
	color: #fff;
	margin-top: 2em;
	margin-bottom: 2em;
}

#sub-footer {
	color: #fff;
	background-color: #1b2227;
	padding: 1.5em 0;
}

#sub-footer p {
	margin: 0;
}




/* ==============================================
		Pics & Icon Styles
============================================== */

#cb-nav-logo {
	display: inline-block;
	width: 5%;
}

.cb-logo {
	width: 30%;
	border-radius: 50%;
	margin: 1em auto;
}

.social-icon {
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 0 3px 10px;
}

.navigate-icon {
	width: 50px;
}

#menu-header {
	height: 500px;
	width: 100%;
	background: url('../img/menu-header.png') no-repeat center;
	background-size: cover;
}

.board {
	box-shadow: 3px 3px 15px 2px #000;
}




/* ==============================================
		Button Styles
============================================== */

.feature-button {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
}

.button {
	padding: .5em;
	color: #fff;
	font-size: 1.5em;
	border-radius: 5px;
	background-color: rgba(37,48,55, .8);
	box-shadow: -4px 4px 10px -4px #253037,
						 	-4px -4px 10px -4px #253037,
							4px -4px 10px -4px #253037,
							4px 4px 10px -4px #253037;
}

.button:hover {
	color: #ed5031;
	text-decoration: none;
	background-color: rgba(37,48,55,.9);
	box-shadow: -4px 4px 10px -1px #253037,
							-4px -4px 10px -1px #253037,
							4px -4px 10px -1px #253037,
							4px 4px 10px -1px #253037;
}

.button:active {
	box-shadow: -4px 4px 10px -7px #253037,
							-4px -4px 10px -7px #253037,
							4px -4px 10px -7px #253037,
							4px 4px 10px -7px #253037;
}

.direct-btn {
	background-color: #acacac;
	margin: 2px;
}

.collapse-btn {
	color: #fff;
	padding: 3px 6px;
	background-color: rgba(37,48,55, .8);
}

.direct-btn,
.collapse-btn {
	border-radius: 5px;
	box-shadow: -1px 1px 10px -6px #253037,
						 	-1px -1px 10px -6px #253037,
							1px -1px 10px -6px #253037,
							1px 1px 10px -6px #253037;
}

.direct-btn:hover,
.collapse-btn:hover {
	outline: none;
	box-shadow: -1px 1px 10px -4px #253037,
							-1px -1px 10px -4px #253037,
							1px -1px 10px -4px #253037,
							1px 1px 10px -4px #253037;
}

.collapse-btn:hover {
	text-decoration: none;
	color: #fff;
}

.direct-btn:active,
.collapse-btn:active {
	outline: none;
	box-shadow: -1px 1px 10px -9px #253037,
							-1px -1px 10px -9px #253037,
							1px -1px 10px -9px #253037,
							1px 1px 10px -9px #253037;
}

.collapse-btn:focus {
	text-decoration: none;
	color: #fff;
}

.direct-btn:focus,
.collapse-btn:focus {
	outline: none;
}





/* 
   ===========================================
   ===========================================
								Media Queries
   ===========================================
   =========================================== 
*/



/* ==============================================
		Medium Screen Sizes
============================================== */

@media (min-width: 767px) {

	/* General Styles
	=================================== */

	body {
		padding-top: 0;
	}

	/* Navbar Styles
	=================================== */

	.navbar-inverse {
		background-color: rgba(37,48,55,0.9);
	}

	/* Layout Styles
	=================================== */

	#welcome-feature h1 {
		margin-bottom: .75em;
		font-size: 4.5em;
	}

	.jumbotron p {
		font-size: 1.5em;
	}

	/* Menu Styles
	=================================== */

	.nav-pills li a {
		margin: 0 .5em; 
	}

	.menu h2 {
		font-size: 1.5em;
	}

	.menu p {
		font-size: 1.2em;
	}

	.cb-logo {
		width: 65%;
	}


	/* Map Styles
	=================================== */
	#map {
		width: 500px;
	}

}


/* ==============================================
		Large Screen Sizes
============================================== */

@media (min-width: 991px) {

	/* Brew Page
	=================================== */

	.brew-subtitle {
		margin-top: 0;
	}

	/* Map Styles
	=================================== */

	#map {
		width: 470px;
		height: 450px;
	}

	/* Pics & Logo Styles
	=================================== */

	.fb-logo {
		width: 400px;
		height: 450px;
	}

	

}

@media (min-width: 1280px) {

	.carousel-inner>.item>img {
		margin-right: auto;
		margin-left: auto;
	}

	#my-carousel {
		background-color: rgba(68,88,101,.4);
	}
}