/* General Styles
=================================== */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6em;
}

.container-fluid {
	max-width: 1000px;
}

.center-align {
	margin: 0 auto;
}

/* Navbar Styles
=================================== */

.navbar-inverse {
	background-color: rgba(48,62,71, .9);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
	color: #ed5031;
}

.navbar-inverse .navbar-brand {
	font-size: 20px;
}

.navbar-inverse .navbar-nav li a {
	font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #ed5031;
	background-color: #253037;
}

#selected  {
	background-color: rgba(37,48,55, .9);
}

hr {
	margin: 0;
}

.navbar-toggle:hover {
	background-color: #253037;
}

#cb-nav-logo {
	display: inline-block;
	width: 5%;
}

/* Footer Styles
=================================== */

#main-footer {
	color: #fff;
	background-color: #253037;
	padding: 2em 0;
}

#main-footer .lead {
	margin-bottom: 10px;
}

#main-footer a {
	display: block;
	color: #fff;
	margin-top: 2em;
	margin-bottom: 2em;
}

.cb-logo {
	width: 25%;
	border-radius: 50%;
	margin: 1em auto 0;
}

#sub-footer {
	color: #fff;
	background-color: #1b2227;
	padding: 1.5em 0;
}

#sub-footer p {
	margin: 0;
}

.social-icon {
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 0 3px;
}

/* Menu Styles
=================================== */

#menu-header {
	height: 500px;
	width: 100%;
	background: url('../img/menu-header.png') no-repeat center;
	background-size: cover;
}

#menu-welcome {
	margin-top: 2em;
	margin-bottom: 2em;
	background: transparent;
}

#menu-welcome h1 {
	margin-bottom: .75em;
	font-size: 3em;
}

.nav-pills {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 4em;
}

.nav-pills li a {
	border: 1px solid #303e47;
	background-color: #1b2227;
	color: #fff;
}

.nav-pills li a:hover {
	background-color: #303e47;
}

.nav-pills li a:focus {
	background-color: #303e47;
}

.menu-items {
	margin-top: 2em;
	border-top: 1px solid;
	padding-top: 1em;
}

.price {
	margin-top: 10px;
}

#sand-toppings {
	padding: 1em 0;
}

.special-header {
	margin-bottom: 1em;
}

/* Find Us Styles
=================================== */

#map-container {
	margin-top: 50px;
}

#map {
	width: 80%;
	height: 450px;
	margin: 0 auto;
}

.inline {
	display: inline-block;
}

/* Media Queries
=========================================================================================
========================================================================================= */

@media (min-width: 767px) {

	/* Footer Styles
	=================================== */

	.cb-logo {
		width: 65%;
	}

	/* Menu Styles
	=================================== */

	.nav-pills li a {
		margin: 0 .5em; 
	}
}

.fb-page {
	height: 300px;
}

