<!DOCTYPE html>
<html ng-app="menu">


<head>
	<title>Cumberland Brews | Louisville, KY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <!-- CSS Links -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>


<body>

      <!-- Facebook API Script -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=241836819495266";
      fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
  </script> <!-- End Facebook Script -->


			<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand nav-title" href="index.html">Cumberland Brews</a>
			</div>
			<div class="collapse navbar-collapse" id="collapsing-navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="brews.html">Our Brews</a></li>
					<li><a href="menu.html" id="selected">Our Menu</a></li>
					<li><a href="index.html#find">Find Us</a></li>
				</ul>
			</div>
		</div>
	</nav> <!-- End Navbar -->


      <!-- Header Image -->
  <div>
    <img src="img/menu-header.png" class="img-responsive page-header-img" alt="Picture of a plate holding a steak topped with mushrooms and an onion ring, with a side of French fries and a beer in a glass on the side.">
  </div>


      <!-- Page Welcome -->
  <div class="container-fluid page-welcome" id="top">
    <div class="jumbotron page-welcome">
      <h1>Cumberland's Menu</h1>
      <p class="lead">Come for the beer, stay for the food! Our American style pub grub goes well with any of our brews. Check out our full menu with food prepared so well, that we are sure you will leave satisfied and will be coming back for more!
      </p>
    </div>
  </div> <!-- End Page Welcome -->


			<!-- Menu Controller Nav -->
	<div class="page-feature" ng-controller="MenuController as menu">
    <div class="container-fluid">
      <ul class="nav nav-pills">
          <li><a href ng-click="tab = 1">Appetizers</a></li>
          <li><a href ng-click="tab = 2">Soups &amp; Salads</a></li>
          <li><a href ng-click="tab = 3">Main Fare</a></li>
          <li><a href ng-click="tab = 4">Desserts</a></li>
          <li><a href ng-click="tab = 5">Specials</a></li>
      </ul> 
    </div> <!-- End Menu Controller Nav -->


    	<!-- Menu Content -->
        
        <div class="menu">

            			<!-- Appetizers -->
          <div class="panel" ng-show="tab === 1" ng-controller="AppetizerController as menu">
          	<div class="container-fluid">
              <h1 class="text-center">Appetizers</h1>
              <div ng-repeat="product in menu.products">
      	        <div class="row menu-items">
      	        	<h2 class="col-xs-8"> {{product.item}} </h2>
      	        	<p class="col-xs-3 col-xs-offset-1 text-left price"><b> ${{product.price}} </b></p>
      	        </div>
      	        <div class="row">
      		        <p class="col-xs-8"><b ng-show="product.subDescription"> {{product.subDescription}} </b> {{product.description}} </p>
      		        <p class="col-xs-3 col col-xs-offset-1 text-left" ng-show="product.secondPrice"><b> ${{product.secondPrice}} </b></p>
              	</div>
              </div>
          	</div>
          </div>

          			<!-- Soups & Salads -->
          <div class="panel" ng-show="tab === 2">
          	<div class="container-fluid">
              <h1 class="text-center">Soups &amp; Salads</h1>
              <div ng-controller="SoupsSaladsController as menu">
                <div ng-repeat="product in menu.products">
                	<div class="row menu-items">
                		<h2 class="col-xs-8"> {{product.item}} </h2>
                		<p class="col-xs-3 col-xs-offset-1 text-left price" ng-show="product.price"><b> ${{product.price}} </b></p>
                	</div>
                	<div class="row">
                  	<p class="col-xs-8"> {{product.description}} </p>
                  	<p class="col-xs-3 col-xs-offset-1 text-left" ng-show="product.secondPrice"><b> ${{product.secondPrice}} </b></p>
                	</div>
                </div>
              </div>
        						<!-- Sides & A la Carte -->
              <div class="row">
          			<div class="col-sm-6">
          				<h2>Sides</h2>
          				<div ng-controller="SidesController as menu">
            				<div ng-repeat="product in menu.products">
              				<div class="row">
              					<p class="col-xs-6 col-xs-offset-1"><b> {{product.item}} </b></p>
              					<p class="col-xs-5"> ${{product.price}} </p>
              				</div>
              			</div>
              		</div>
            		</div>
            		<div class="col-sm-6">
            			<h2>A La Carte</h2>
            			<div ng-controller="CarteController as menu">
            				<div ng-repeat="product in menu.products">
            					<div class="row">
            						<p class="col-xs-6 col-xs-offset-1"><b> {{product.item}} </b></p>
            						<p class="col-xs-5"> ${{product.price}} </p>
            					</div>
            				</div>
            			</div>
            		</div>
              </div>
          	</div>
          </div>

          		<!-- Main Fare -->
          <div class="panel" ng-show="tab === 3">
          	<div class="container-fluid">
          		<h1 class="text-center">Main Fare</h1>
          		<p class="text-center">All Sandwiches Served with Steak Fries, Lettuce, Tomato, Onion &amp; A Pickle Spear</p>
          		<p class="text-center">Substitute a Side Salad, Vegetable of the Day, a Cup of Soup or Sweet Potato Fries for Steak Fries for &dollar;1.95</p>
          		<div ng-controller="FareController as menu">
          			<div ng-repeat="product in menu.products">
          				<div class="row menu-items">
          					<h2 class="col-xs-8"> {{product.item}} </h2>
          					<p class="col-xs-3 col-xs-offset-1 text-left price"><b> ${{product.price}} </b></p>
          				</div>
          				<div class="row">
          					<p class="col-xs-9"> {{product.description}} </p>
          				</div>
          			</div>
          			<h2 class="text-center" id="sand-toppings">Sandwich Toppings &amp; Dips</h2>
          			<div class="row">
          				<p class="col-xs-8">Pepper Jack, White or Yellow American, Swiss, Bleu Cheese Crumbles or Shredded Cheddar Cheese</p>
          				<p class="col-xs-3 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
          			</div>
          			<div class="row">
          				<p class="col-xs-8">Bacon, Sauteed Mushrooms, Sauteed Onions, Roasted Garlic, Jalapenos or Raw Horseradish</p>
          				<p class="col-xs-3 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
          			</div>
          			<div class="row">
          				<p class="col-xs-8">Chipotle Mayonnaise, Cilantro Sour Cream, Guacamole, Diablo Sauce, Cajun Tartar Sauce, Cinnamon Cream Cheese Dip or Bleu Cheese Dressing</p>
          				<p class="col-xs-3 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
          			</div>
          			<div class="row">
          				<p class="col-xs-8">Pickle Spear, Extra Onion or Tomato</p>
          				<p class="col-xs-3 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
          			</div>
          			<div class="row">
          				<p class="col-xs-8">Plain Mayonnaise, Bar B Q Sauce, Ranch Dressing or Honey Mustard</p>
          				<p class="col-xs-3 col-xs-offset-1 text-left price">&dollar;0.50 Each</p>
          			</div>
          		</div>
          	</div>
          </div>

          		<!-- Desserts -->
          <div class="panel" ng-show="tab === 4">
          	<div class="container-fluid">
          		<h1 class="text-center">Desserts</h1>
          		<div ng-controller="DessertsController as menu">
          			<div ng-repeat="product in menu.products">
          				<div class="row menu-items">
          					<h2 class="col-xs-8"> {{product.item}} </h2>
          					<p class="col-xs-3 col-xs-offset-1 text-left price"><b> ${{product.price}} </b></p>
          				</div>
          				<div class="row">
          					<p class="col-xs-8"> {{product.description}} </p>
          				</div>
          			</div>
            	</div>
            </div>
          </div>

           		<!-- Specials -->
          <div class="panel" ng-show="tab === 5">
          	<div class="container-fluid">
          		<h1 class="text-center">Specials</h1>
          		<div class="row">
          			<div class="col-sm-6">
          				<h2 class="text-center special-header">Weekly Specials</h2>
          				<p class="text-center"><b>Monday:</b> $5 Growlers</p>
          				<p class="text-center"><b>Tuesday:</b> $2.75 Pint Night</p>
          				<p class="text-center"><b>Thursday:</b> $12 Steak and Beer</p>
          			</div>
          			<div class="col-sm-6">
          				<h2 class="text-center special-header">Daily Specials</h2>
          				<p class="text-center">Appetizer of the Day</p>
          				<p class="text-center">Quesadilla of the Day</p>
          				<p class="text-center">Dinner of the Day</p>
          			</div>
          		</div>
          	</div>
          </div>
        </div> 
      </div> <!-- End Menu Content -->


			<!-- Footer -->
  <footer class="footer">

        <!-- Main Footer -->
    <div id="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-xs-6 text-center">
            <p>1576 Bardstown Rd.</p>
            <p>Louisville, KY 40205</p>
            <a href="tel:502-458-8727"><span class="glyphicon glyphicon-earphone"></span> (502) 458-8727</a>
            <div class="fb-like" data-href="https://www.facebook.com/pages/Cumberland-Brews/236531969737103" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 text-center">
            <p class="lead">Hours:</p>
            <p>Mon - Th: 4p-11p</p>
            <p>Friday: 4p-1a</p>
            <p>Saturday: 12p-1a</p>
            <p>Sunday: 12p-11p</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center">
            <img src="img/cb-logo-trans.png" class="img-responsive cb-logo" alt="Cumberland Brewery logo: 'Cumberland Brewery, Louisville, Kentucky'">
          </div>
        </div>
      </div>
    </div> <!-- End Main Footer -->

    <hr>

        <!-- Sub Footer -->
    <div id="sub-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 text-center">
            <a target="_blank" href="https://www.facebook.com/pages/Cumberland-Brews/236531969737103"><img src="fonts/facebook.png" alt="Facebook social media icon" class="social-icon"></a>
            <a target="_blank" href="http://www.yelp.com/biz/cumberland-brews-louisville"><img src="fonts/yelp.png" alt="Yelp social media icon" class="social-icon"></a>
            <a target="_blank" href="https://untappd.com/CumberlandBrewery"><img src="fonts/untappd.png" alt="Untappd social media icon" class="social-icon"></a>
          </div>
          <div class="col-sm-4 text-center">
            <p>&copy;2016 Cumberland Brewery</p>
          </div>
          <div class="col-sm-4 text-center">
            <p>Mitch Sharber | Designer</p>
          </div>
        </div>
      </div>
    </div> <!-- End Sub Footer -->

  </footer> <!-- End Footer -->


  <!-- Script Tags -->

    <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Angular Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <!-- Angular Script -->
  <script type="text/javascript" src="js/angular.js"></script>

    <!-- app.js -->
  <script src="js/app.js"></script>

</body>
</html>