<!DOCTYPE html>
<html ng-app="menu">
<head>
	<title>Cumberland Brews | Louisville, KY</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <!-- Facebook API Script -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=241836819495266";
      fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
  </script>

			<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar" aria-expanded="false">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand nav-title" href="index.html">Cumberland Brews</a>
			</div>
			<div class="collapse navbar-collapse" id="collapsing-navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="brews.html">Our Brews</a></li>
					<li><a href="menu.html" id="selected">Our Menu</a></li>
					<li><a href="find.html">Find Us</a></li>
				</ul>
			</div>
		</div>
	</nav> <!-- End Navbar -->

			<!-- Angular Links -->
	<div class="container" ng-controller="MenuController as menu">
    <ul class="nav nav-pills">
        <li><a href ng-click="tab = 1">Appetizers</a></li>
        <li><a href ng-click="tab = 2">Soups &amp; Salads</a></li>
        <li><a href ng-click="tab = 3">Main Fare</a></li>
        <li><a href ng-click="tab = 4">Desserts</a></li>
        <li><a href ng-click="tab = 5">Specials</a></li>
    </ul> <!-- End Angular Links -->

        	<!-- Menu Content -->

        			<!-- Appetizers -->
    <div class="panel" ng-show="tab === 1" ng-controller="AppetizerController as menu">
    	<div class="container-fluid">
        <h1 class="text-center">Appetizers</h1>
        <div ng-repeat="product in menu.products">
	        <div class="row menu-border" >
	        	<h4 class="col-xs-9"> {{product.item}} </h4>
	        	<p class="col-xs-2 col-xs-offset-1 text-left price"><b> ${{product.price}} </b></p>
	        </div>
	        <div class="row">
		        <p class="col-xs-9"><b ng-show="product.subDescription"> {{product.subDescription}} </b> {{product.description}} </p>
		        <p class="col-xs-2 col col-xs-offset-1 text-left" ng-show="product.secondPrice"><b> {{product.secondPrice}} </b></p>
        	</div>
        </div>
    	</div>
    </div>

    			<!-- Soups & Salads -->
    <div class="panel" ng-show="tab === 2">
    	<div class="container-fluid">
        <h1 class="text-center">Soups &amp; Salads</h1>
        <div ng-controller="SoupsSaladsController as menu">
          <div ng-repeat="product in menu.products">
          	<div class="row menu-border">
          		<h4 class="col-xs-9"> {{product.item}} </h4>
          		<p class="col-xs-2 col-xs-offset-1 text-left price" ng-show="product.price"><b> ${{product.price}} </b></p>
          	</div>
          	<div class="row">
            	<p class="col-xs-9"> {{product.description}} </p>
            	<p class="col-xs-2 col-xs-offset-1 text-left" ng-show="product.secondPrice"><b> ${{product.secondPrice}} </b></p>
          	</div>
          </div>
        </div>
        						<!-- Sides & A la Carte -->
        <div class="row">
    			<div class="col-sm-6">
    				<h2>Sides</h2>
    				<div ng-controller="SidesController as menu">
      				<div ng-repeat="product in menu.products">
        				<div class="row">
        					<p class="col-xs-6 col-xs-offset-1"><b> {{product.item}} </b></p>
        					<p class="col-xs-5"> ${{product.price}} </p>
        				</div>
        			</div>
        		</div>
      		</div>
      		<div class="col-sm-6">
      			<h2>A La Carte</h2>
      			<div ng-controller="CarteController as menu">
      				<div ng-repeat="product in menu.products">
      					<div class="row">
      						<p class="col-xs-6 col-xs-offset-1"><b> {{product.item}} </b></p>
      						<p class="col-xs-5"> ${{product.price}} </p>
      					</div>
      				</div>
      			</div>
      		</div>
        </div>
    	</div>
    </div>

    		<!-- Main Fare -->
    <div class="panel" ng-show="tab === 3">
    	<div class="container-fluid">
    		<h1 class="text-center">Main Fare</h1>
    		<p class="text-center">All Sandwiches Served with Steak Fries, Lettuce, Tomato, Onion &amp; A Pickle Spear</p>
    		<p class="text-center">Substitute a Side Salad, Vegetable of the Day, a Cup of Soup or Sweet Potato Fries for Steak Fries for &dollar;1.95</p>
    		<div ng-controller="FareController as menu">
    			<div ng-repeat="product in menu.products">
    				<div class="row menu-border">
    					<h4 class="col-xs-9"> {{product.item}} </h4>
    					<p class="col-xs-2 col-xs-offset-1 text-left price"><b> ${{product.price}} </b></p>
    				</div>
    				<div class="row">
    					<p class="col-xs-9"> {{product.description}} </p>
    				</div>
    			</div>
    			<h2 class="text-center">Sandwich Toppings &amp; Dips</h2>
    			<div class="row">
    				<p class="col-xs-9">Pepper Jack, White or Yellow American, Swiss, Bleu Cheese Crumbles or Shredded Cheddar Cheese</p>
    				<p class="col-xs-2 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
    			</div>
    			<div class="row">
    				<p class="col-xs-9">Bacon, Sauteed Mushrooms, Sauteed Onions, Roasted Garlic, Jalapenos or Raw Horseradish</p>
    				<p class="col-xs-2 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
    			</div>
    			<div class="row">
    				<p class="col-xs-9">Chipotle Mayonnaise, Cilantro Sour Cream, Guacamole, Diablo Sauce, Cajun Tartar Sauce, Cinnamon Cream Cheese Dip or Bleu Cheese Dressing</p>
    				<p class="col-xs-2 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
    			</div>
    			<div class="row">
    				<p class="col-xs-9">Pickle Spear, Extra Onion or Tomato</p>
    				<p class="col-xs-2 col-xs-offset-1 text-left price">&dollar;1.00 Each</p>
    			</div>
    			<div class="row">
    				<p class="col-xs-9">Plain Mayonnaise, Bar B Q Sauce, Ranch Dressing or Honey Mustard</p>
    				<p class="col-xs-2 col-xs-offset-1 text-left price">&dollar;0.50 Each</p>
    			</div>
    		</div>
    	</div>
    </div>

    		<!-- Desserts -->
    <div class="panel" ng-show="tab === 4">
    	<div class="container-fluid">
    		<h1 class="text-center">Desserts</h1>
    		<div ng-controller="DessertsController as menu">
    			<div ng-repeat="product in menu.products">
    				<div class="row menu-border">
    					<h4 class="col-xs-9"> {{product.item}} </h4>
    					<p class="col-xs-2 col-xs-offset-1 text-left price"><b> ${{product.price}} </b></p>
    				</div>
    				<div class="row">
    					<p class="col-xs-9"> {{product.description}} </p>
    				</div>
    			</div>
      	</div>
      </div>
     </div>

     		<!-- Specials -->
    <div class="panel" ng-show="tab === 5">
    	<div class="container-fluid">
    		<h1 class="text-center">Specials</h1>
    		<div class="row">
    			<div class="col-sm-6">
    				<h2>Weekly Specials</h2>
    				<p class="col-sm-offset-1"><b>Monday:</b> $5 Growlers</p>
    				<p class="col-sm-offset-1"><b>Tuesday:</b> $2.75 Pint Night</p>
    				<p class="col-sm-offset-1"><b>Thursday:</b> $12 Steak and Beer</p>
    			</div>
    			<div class="col-sm-6">
    				<h2>Daily Specials</h2>
    				<p class="col-sm-offset-1">Appetizer of the Day</p>
    				<p class="col-sm-offset-1">Quesadilla of the Day</p>
    				<p class="col-sm-offset-1">Dinner of the Day</p>
    			</div>
    		</div>
    	</div>
    </div>
  </div> <!-- End Menu Content -->

			<!-- Footer -->
	<footer>
    <div   id="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-xs-6 text-center">
            <p>1576 Bardstown Rd.</p>
            <p>Louisville, KY 40205</p>
            <a href="tel:502-458-8727"><span class="glyphicon glyphicon-earphone"></span> (502) 458-8727</a>
            <div class="fb-like" data-href="https://www.facebook.com/pages/Cumberland-Brews/236531969737103" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 text-center">
            <p class="lead">Hours:</p>
            <p>Mon - Th: 4p-11p</p>
            <p>Friday: 4p-1a</p>
            <p>Saturday: 12p-1a</p>
            <p>Sunday: 12p-11p</p>
          </div>
          <div class="col-sm-4">
            <img src="img/cb-logo-trans.png" class="img-responsive cb-logo" alt="Cumberland Brewery logo: 'Cumberland Brewery, Louisville, Kentucky'">
          </div>
        </div>
      </div>
    </div>
      <hr>
  <div id="sub-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-center">
          <a href="https://www.facebook.com/pages/Cumberland-Brews/236531969737103"><img src="fonts/facebook.png" alt="Facebook social media icon" class="social-icon"></a>
          <a href="http://www.yelp.com/biz/cumberland-brews-louisville"><img src="fonts/yelp.png" alt="Yelp social media icon" class="social-icon"></a>
          <a href="https://untappd.com/CumberlandBrewery"><img src="fonts/untappd.png" alt="Untappd social media icon" class="social-icon"></a>
        </div>
        <div class="col-sm-4 text-center">
          <p>&copy;2016 Cumberland Brewery</p>
        </div>
        <div class="col-sm-4 text-center">
          <p>Mitch Sharber | Designer</p>
        </div>
      </div>
    </div>
  </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>